<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <%= @video.tags %>
</p>

<p>
  <strong>Embeddedurl:</strong>
  <%= @video.embeddedUrl %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @video.data %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
